body {
  margin: 0;
  padding: 0;
}

h1 {
  color: MidnightBlue;
  margin-bottom: 2em;
  font-family: Verdana, sans;
}

h3 {
  margin:0;
  float: right;
}

label {
  padding: 1em;
}

input {
  margin: 0.3em;
}

.error {
  text-align: left;
  color: #900;
}

#add-form td {
  text-align: right;
}

.bright-box {
  width: 600px;
  padding: 0 5em 5em 5em;
  background-color: Gold;
  margin-top: 5em;
  text-align: center;
}

#search-form #ingredient {
  height: 2em;
  width: 30em;
}

#menu {
  width: 100%;
  list-style: none;
  background-color: Khaki;
  margin: 0;
  padding: 0.5em 0;
  font: 1em Verdana, sans
}

#menu li {
  display: inline;
  padding: 0 1em;
}

#recipe-panel {
  width: 780px;
  padding: 1em 2em;
  margin-top: 1em;
}

.recipe {
  border-bottom: 1px solid GoldenRod;
  padding-bottom: 2em;
}

.standard-border {
  border: 1px solid GoldenRod;
}

.highlight-box {
  width: 15em;
  list-style: none;
  background-color: Khaki;
  padding: 0.5em;
}

.center {
  margin-left: auto;
  margin-right: auto;
}

.rounded {
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  border-radius: 15px;
}

/* http://robertnyman.com/2010/03/16/drop-shadow-with-css-for-all-web-browsers/
 */
.shadow {
  -moz-box-shadow: 3px 3px 4px #000;
  -webkit-box-shadow: 3px 3px 4px #000;
  box-shadow: 3px 3px 4px #000;
  /* For IE 8 */
  -ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#000000')";
  /* For IE 5.5 - 7 */
  filter: progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#000000');
}
