#logo {
  color: MidnightBlue;
  margin-bottom: 2em;
  font-style: Verdana;
}

#search-form {
  width: 600px;
  padding: 0 5em 5em 5em;
  border: 1px solid GoldenRod;
  background-color: Gold;
  margin-top: 5em;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  border-radius: 15px;
}

#search-form #ingredient {
  height: 2em;
  width: 30em;
}

#recipe-panel {
  width: 750px;
  padding: 1em 5em;
  border: 1px solid GoldenRod;
  margin-top: 1em;
  margin-left: auto;
  margin-right: auto;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  border-radius: 15px;
}

.recipe {
 padding-bottom: 2em;
}

.preparation {
  width: 15em;
  margin-left: auto;
  margin-right: auto;
  list-style: none;
  background-color: Khaki;
  padding: 0.5em;
}


.ingredients {
  width: 15em;
  margin-left: auto;
  margin-right: auto;
  list-style: none;
  background-color: Khaki;
  padding: 0.5em;
}



/* http://robertnyman.com/2010/03/16/drop-shadow-with-css-for-all-web-browsers/
 */
.shadow {
	-moz-box-shadow: 3px 3px 4px #000;
	-webkit-box-shadow: 3px 3px 4px #000;
	box-shadow: 3px 3px 4px #000;
	/* For IE 8 */
	-ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#000000')";
	/* For IE 5.5 - 7 */
	filter: progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#000000');
}

